<!DOCTYPE html>
<html>
<head>
<title>Consumer Coop Membership Registration</title>
<!-- metatags-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Consumer Coop Membership Registration form a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/><!--style_sheet-->
<link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700" rel="stylesheet">
<!--online_fonts-->
<link href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet"><!--online_fonts-->
</head>
<body>
<h1>Consumer Coop Membership</h1>
<div class="w3ls-main">
<h2>Registration Form</h2>
<p>Complete the form below to sign up for our membership service.</p>
<div class="w3ls-form">
<form action="#" method="post">
<ul class="fields">
<div class="Refer_w3l">
<h3>Your details</h3>
	<li>	
		<label class="w3ls-opt">name :<span class="w3ls-star"> * </span></label>
		<div class="w3ls-name">	
			<input type="text" name="username"  placeholder="first name" required=" "/>
		</div>
	</li>
	
	<li>
		<div class="mail">
			<label class="w3ls-opt">e-mail :<span class="w3ls-star"> * </span></label>
			<span class="w3ls-text w3ls-name">
				<input type="email" name="email" placeholder="enter your e-mail" required=""/>
			</span>
		</div>
	</li>
	<li>
		<label class="w3ls-opt">phone number :<span class="w3ls-star"> * </span></label>	
			<span class="w3ls-text w3ls-name">
				<input type="text" name="phone number" placeholder="phone number" required=""/>
			</span>
	</li>
	<li>
		<label class="w3ls-opt">Address: <span class="w3ls-star"> * </span> </label>
		<div class="adderss">
			<span class="text">
				<input type="text" name="address" placeholder="street address" required=" ">
			</span>
			<span class="text">
				<input type="text" name="address" placeholder="street line2" required=" ">
			</span>
			<span class="text">
				<input type="text" name="city" placeholder="city" required="">
				
			</span>
			<span class="text">
				<input type="text" name="street" placeholder="state/province" required="">
				
			</span>
			<span class="text">
				<input type="text" name="zipcode" placeholder="postal/zipcode" required="">
			</span>
			<span class="text">
				<input type="text" name="country" placeholder="country" required="">
			</span>
		</div>
	</li>
	<li>
							<label class="w3ls-opt">Birth Date :<span class="w3ls-star"> * </span></label>	
							<div class="w3ls-text w3ls-name">
								<span class="agile_sub-label">
									<select name="day" class="day">
										<option>Day</option>
										<option value="1"> 1 </option>
										<option value="2"> 2 </option>
										<option value="3"> 3 </option>
										<option value="4"> 4 </option>
										<option value="5"> 5 </option>
										<option value="6"> 6 </option>
										<option value="7"> 7 </option>
										<option value="8"> 8 </option>
										<option value="9"> 9 </option>
										<option value="10"> 10 </option>
										<option value="11"> 11 </option>
										<option value="12"> 12 </option>
										<option value="13"> 13 </option>
										<option value="14"> 14 </option>
										<option value="15"> 15 </option>
										<option value="16"> 16 </option>
										<option value="17"> 17 </option>
										<option value="18"> 18 </option>
										<option value="19"> 19 </option>
										<option value="20"> 20 </option>
										<option value="21"> 21 </option>
										<option value="22"> 22 </option>
										<option value="23"> 23 </option>
										<option value="24"> 24 </option>
										<option value="25"> 25 </option>
										<option value="26"> 26 </option>
										<option value="27"> 27 </option>
										<option value="28"> 28 </option>
										<option value="29"> 29 </option>
										<option value="30"> 30 </option>
										<option value="31"> 31 </option>
									</select>
									
								</span>
								<span class="agile_sub-label xxx">
									<select name="month" class="month">
										<option>Month</option>
										<option value="January"> January </option>
										<option value="February"> February </option>
										<option value="March"> March </option>
										<option value="April"> April </option>
										<option value="May"> May </option>
										<option value="June"> June </option>
										<option value="July"> July </option>
										<option value="August"> August </option>
										<option value="September"> September </option>
										<option value="October"> October </option>
										<option value="November"> November </option>
										<option value="December"> December </option>
									 </select>
									
								</span>
								<span class="agile_sub-label">
									<input type="text" class="year" name="year" placeholder=" Enter Year" required="">
									
								</span>
								<div class="clear"></div>
							</div>
						</li>
						<div class="wthree-text">
						<!-- DI KO ALAM KUNG ANO PWEDE IPALIT DITO
						<h4>Choose Your Sports </h4>
						<ul class="radio-w3ls">
							<li>
								<input type="radio" id="a-option" name="selector1">
								<label for="a-option">Play For Football</label>
								<div class="check"></div>
							</li>
							<li>
								<input type="radio" id="b-option" name="selector1">
								<label for="b-option">Play For Hockey</label>
								<div class="check">
									<div class="inside"></div>
								</div>
							</li>
							<li>
								<input type="radio" id="a-option" name="selector1">
								<label for="a-option">Play For Tennis</label>
								<div class="check"></div>
							</li>
							<li>
								<input type="radio" id="b-option" name="selector1">
								<label for="b-option">Play For Shuttle</label>
								<div class="check">
									<div class="inside"></div>
								</div>
							</li>
						</ul>
						<div class="clear"></div>-->
					</div>
	</div>
	<div class="Refer_w3l">
	<!-- MAGSET DIN TAYO NG RULES LIKE DI PWEDE YUNG MGA UNAPPROPRIATE PRODUCTS-->
	<h3>Membership Rules</h3>
	
	<p>1. Praesent urna odio, rutrum sed malesuada nec, pulvinar sed metus</p>
	
	<p>2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non dolor et nulla tristique commodo nec eget nibh. </p>
	
	</div>
	<p>Praesent urna odio, rutrum sed malesuada nec, pulvinar sed metus.</p>
</ul>
<div class="clear"></div>
	<div class="w3ls-btn">
		<input type="submit" value="Submit Application">
	</div>
</form>
</div>
</div>
<footer>&copy; 2018 Consumer Coop Membership. All Rights Reserved</a></footer>
</body>
</html>